<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Superannuation insurance</title>
  <link rel="shortcut icon" href="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/favicon.ico" type="image/vnd.microsoft.icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/zgy2nvk.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  
  <link href="../css/tailwind.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
</head>
<body>
	
<div class="bg-no-repeat bg-cover bg-top lg:h-banner h-48" style="background-image: 
	url('https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/ca5c97542eed349f67dd1a924157bb35.jpg')">
    
	<div class="bg-gradient flex content-center lg:pt-0 flex-wrap lg:h-banner h-48">
		<div class="container mx-auto px-10 lg:px-0">
			<div class="fadeup w-full text-white lg:px-24">
				<p class="-mt-5 font-medium uppercase">Super</p>
				<h1 class="font-heavy mb-8 mark-bold lg:text-6xl text-4xl leading-none">
					My insurance options
				</h1>
			</div>
		</div>
	</div>
	
</div>

<div class="bg-brand-gray">
	<div class="container mx-auto lg:px-24 px-5">
		<div class="mx-auto lg:w-full text-brand-black">
			<h2 class="lg:text-5xl text-3xl font-heavy pt-12">Industry insurance</h2>
			<p class="font-light pt-5 text-xl font-bold">
				Insurance cover is essential in providing financial protection and security to you and your family. 
			</p>
		  <p class="pt-3 pb-12">
			We understand the risks of working in the building, construction and allied industries. It’s an unpleasant thought, but what would you do if something happened to you and you were no longer able to work because of serious illness or injury? How long could your family survive without a regular income if you passed away? Cbus is proud to offer our members insurance options that can be tailored to meet the needs of people working in the building, construction and allied industries. When you join Cbus Industry Super, most members qualify for our default level of Death and Total and Permanent Disablement (TPD) cover. 
		  </p>
		</div>
	  </div>
  </div>

  
<div class="container mx-auto lg:px-24 px-5">
	<div class="mx-auto lg:w-full text-brand-black">
	<h2 class="lg:text-5xl text-3xl font-heavy pt-12">Industry insurance</h2>
	<p class="font-light pt-5 text-xl font-bold">
		Insurance cover is essential in providing financial protection and security to you and your family. 
	</p>
	<p class="pt-3 pb-12">
	We understand the risks of working in the building, construction and allied industries. It’s an unpleasant thought, but what would you do if something happened to you and you were no longer able to work because of serious illness or injury? How long could your family survive without a regular income if you passed away? Cbus is proud to offer our members insurance options that can be tailored to meet the needs of people working in the building, construction and allied industries. When you join Cbus Industry Super, most members qualify for our default level of Death and Total and Permanent Disablement (TPD) cover. 
	</p>

	<div class="flex flex-wrap">
		<div class="w-full lg:w-1/2">
			<form>
				<div class="md:flex md:items-center mb-6">
				  <div class="md:w-full">
					<label class="block mb-1 md:mb-0 pr-4 pb-2" for="inline-full-name">First name*</label>
					<input class="input-shadow bg-white appearance-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500" id="inline-full-name" type="text" value="Jane Doe" required>
				  </div>
				</div>
		
				<div class="md:flex md:items-center mb-6">
					<div class="md:w-full">
						<label class="block mb-1 md:mb-0 pr-4 pb-2" for="quantity">Member number (if you have it handy)</label>
						<input class="input-shadow bg-white appearance-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500" min="9" max="9">
					</div>
				</div>
				<div class="md:flex md:items-center mb-6">
					<div class="md:w-full">
						<label>
							Enter your date of birth*:
							<input class="input-shadow bg-white appearance-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500" type="date" name="dob" required pattern="\d{4}-\d{2}-\d{2}" required>
							<span class="validity"></span>
						</label>
					</div>
				</div>
		
				<div class="md:flex md:items-center mb-6">
					<label class="block">
						<input class="mr-2 leading-tight" type="checkbox">
						<span class="text-lg"><strong>Yes - </strong> I want to opt-in and retain my insurance.</span>
					</label>
				</div>
				<div class="md:flex md:items-center mb-6">
					<button class="cta-dark block w-full lg:m-3">Button</button>
					<button class="cta-light block w-full lg:m-3 mt-5">Button</button>
				</div>
			</form>
			<p class="pt-3 pb-12 text-xs">
			This form collects your personal information. Read our Privacy Policy and Personal Information Collection Statement for details on how we collect and disclose personal information or call us on 1300 361 784 for a copy.
			</p>
		</div>
		<div class="w-full lg:w-1/2 lg:pl-5">

			<!-- Message Green -->
			<div class="py-4 lg:px-4">
				<div class="fadeup bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
					<span class="flex rounded bg-green-200 uppercase text-xl font-bold mr-3 px-4 py-3">
						<i class="fa-solid fa-check"></i>
					</span>
					<span class="mr-2 text-left flex-auto text-sm pr-2">Your message has been sent.</span>
				</div>
			</div>

			<!-- Message yellow -->
			<div class="py-4 lg:px-4">
				<div class="fadeup bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
					<span class="flex rounded bg-yellow-200 uppercase text-xl font-bold mr-3 px-5 py-3">
						<i class="fa-solid fa-exclamation"></i>
					</span>
					<span class="mr-2 text-left flex-auto text-sm pr-5">Something's not quite right.</span>
				</div>
			</div>

			<!-- error red -->
			<div class="py-4 lg:px-4">
				<div class="fadeup bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
				<span class="flex rounded bg-red-500 text-red-700 uppercase text-lg font-bold mr-3 px-4 py-3">
					<i class="fa-solid fa-x"></i>
				</span>
				  <span class="mr-2 text-left flex-auto text-sm pr-5">Something's not quite right.</span>
				</div>
			</div>

		</div>
		
	</div>



	</div>
</div>


  <div class="bg-brand-gray">
	<div class="container mx-auto lg:px-24 px-5 py-12">
		<div class="mx-auto lg:w-full text-brand-black">
		<h2 class="lg:text-5xl text-3xl font-heavy">We’re here to help</h2>
		<p class="font-light pt-5 text-xl font-bold pb-3">
			If you have any questions or would like to discuss your options further, we can help get your super sorted.
		</p>
		<div class="flex flex-wrap text-center">
			<div class="w-full lg:w-1/2">
				<a href="tel:1300 361 784" class="cta-light block m-3 relative font-bold">1300 361 784 <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
				<p class="text-brand-gray lg:pb-0 pb-5">Mon to Fri from 8am to 8pm AEDT/AEST</p>
			</div>
			<div class="w-full lg:w-1/2">
				<a href="mailto:cbusenq@cbussuper.com.au" class="cta-light block m-3 relative font-bold">cbusenq@cbussuper.com.au <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
			</div>
		</div>
	</div>
	</div>
	
</div>

<footer class="bg-brand-black">
<div class="container mx-auto">
	<div class="w-full  bg-brand-black font-heavy text-white">
		<div class="w-full lg:px-24 px-10 pb-14 flex flex-col">

			<div class="flex pt-20 pb-12">
				<div class="lg:w-1/5">
					<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.cbussuper.com.au/about-us/who-we-are">
						About
					</a>
				</div>
				<div class="lg:w-1/5">
					<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.cbussuper.com.au/tools-resources/advice-services">
						Advice Services
					</a>
				</div>
				<div class="lg:w-1/5">
					<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.comms.cbussuper.com.au/scripts/cbus/seminars/#upsem">
						All webinars
					</a>
				</div>
				<div class="lg:w-1/5">
					<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.cbussuper.com.au/support/contact">
						Contact
					</a>
				</div>
				<div class="lg:w-1/5">
					<div class="flex flex-row space-x-8 items-center justify-end text-lg text-white">
						<a target="_blank" href="https://www.facebook.com/cbussuperfund">
							<i class="fab fa-facebook-f"></i>                           
						</a>
						<a target="_blank" href="https://twitter.com/cbussuperfund">
							<i class="fab fa-twitter"></i>   
						</a>
						<a href="https://www.linkedin.com/company/cbus-super-fund">
							<i class="fab fa-linkedin-in"></i>                            
						</a>
					</div>
				</div>
			</div>

				<hr class="border-gray-300"/>
	
				<div class="flex flex-wrap">
					<div class="lg:w-1/5 w-1/2 w-full pt-10">
						<a target="_blank" href="https://www.cbussuper.com.au/">
							<img class="mt-6 hover:opacity-75"  src="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/Cbus-ISA-Footer-Logo-2017.png" alt="Cbus Super logo" style="width: 130px;">
						</a>
					</div>
					<div class="lg:w-1/5 w-1/2 pt-10">
						<p class="font-heavy">Awards</p>
						<img class="h-16" style="margin-left: -4px;" src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/48cd175c527f8d40f8996ecc7b7519e799ce9b9457f86e3d8d6c8d99bb70761c.gif" />
					</div>
					<div class="lg:w-1/5 w-1/2 pt-10">
						<p class="font-heavy">Get the Cbus app</p>
						<div class="flex">
							<a target="_blank" class="p-1 hover:opacity-75" href="https://itunes.apple.com/au/developer/cbus-super-fund/id915194834">
								<img src="https://www.cbussuper.com.au/content/dam/cbus/images/app/appstore-apple-xs.png" alt="Apple Appstore">
							</a>
							<a target="_blank" class="p-1 hover:opacity-75" href="https://play.google.com/store/apps/developer?id=Cbus%20Super%20Fund&amp;hl=en">
								<img src="https://www.cbussuper.com.au/content/dam/cbus/images/app/appstore-google-xs.png" alt="Google Playstore">
							</a>
						</div>
					</div>
				</div>

		</div>
	</div>
</div>
	<div class="bg-white">
		<div class="container mx-auto">
		<div class="w-full lg:px-24 px-10 py-5 flex flex-col text-brand-black">
			<p class="w-full text-gray-500 text-sm">©<span id="year"></span> Cbus Super. All rights reserved. Cbus ABN 75 493 363 262.</p>
		</div>
		</div>
	</div>
</footer>

<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

</body>
</html>