<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Superannuation insurance</title>
  <link rel="shortcut icon" href="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/favicon.ico" type="image/vnd.microsoft.icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic|Roboto+Condensed:400,700,400italic,700italic" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="../css/tailwind.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
</head>
<body class="media-super lg:px-10">
	
<div class="bg-no-repeat bg-cover bg-top h-48" style="background-image: 
	url('../img/media-bg.png')">
    
	<div class="bg-gradient-teal flex content-center lg:pt-0 flex-wrap h-48">
		<div class="container mx-auto px-10 lg:px-0">
			<div class="fadeup w-full text-white lg:px-24">
				<p class="-mt-5 font-heavy uppercase">Super</p>
				<h1 class="font-heavy mb-8 mark-bold lg:text-6xl text-4xl leading-none uppercase">
					My insurance options
				</h1>
			</div>
		</div>
	</div>
	
</div>

<div class="bg-brand-gray">
	<div class="container mx-auto lg:px-24 px-5">
		<div class="mx-auto lg:w-full text-brand-black">
			<h2 class="lg:text-5xl text-3xl font-heavy pt-12">Industry insurance</h2>
			<p class="pt-5 text-xl font-bold">
				Insurance cover is essential in providing financial protection and security to you and your family. 
			</p>
		  <p class="pt-3 pb-12">
			We understand the risks of working in the building, construction and allied industries. It’s an unpleasant thought, but what would you do if something happened to you and you were no longer able to work because of serious illness or injury? How long could your family survive without a regular income if you passed away? Cbus is proud to offer our members insurance options that can be tailored to meet the needs of people working in the building, construction and allied industries. When you join Cbus Industry Super, most members qualify for our default level of Death and Total and Permanent Disablement (TPD) cover. 
		  </p>
		</div>
	  </div>
  </div>

  
<div class="container mx-auto lg:px-24 px-5">
	<div class="mx-auto lg:w-full text-brand-black">
	<h2 class="lg:text-5xl text-3xl font-heavy pt-12">Industry insurance</h2>
	<p class="pt-5 text-xl font-bold">
		Insurance cover is essential in providing financial protection and security to you and your family. 
	</p>
	<p class="pt-3 pb-12">
	We understand the risks of working in the building, construction and allied industries. It’s an unpleasant thought, but what would you do if something happened to you and you were no longer able to work because of serious illness or injury? How long could your family survive without a regular income if you passed away? Cbus is proud to offer our members insurance options that can be tailored to meet the needs of people working in the building, construction and allied industries. When you join Cbus Industry Super, most members qualify for our default level of Death and Total and Permanent Disablement (TPD) cover. 
	</p>

	<div class="flex flex-wrap">
		<div class="w-full lg:w-1/2">
			<form>
				<div class="md:flex md:items-center mb-6">
				  <div class="md:w-full">
					<label class="block mb-1 md:mb-0 pr-4 pb-2" for="inline-full-name">First name*</label>
					<input class="input-shadow bg-white appearance-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500" id="inline-full-name" type="text" value="Jane Doe" required>
				  </div>
				</div>
		
				<div class="md:flex md:items-center mb-6">
					<div class="md:w-full">
						<label class="block mb-1 md:mb-0 pr-4 pb-2" for="quantity">Member number (if you have it handy)</label>
						<input class="input-shadow bg-white appearance-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500" min="9" max="9">
					</div>
				</div>
				<div class="md:flex md:items-center mb-6">
					<div class="md:w-full">
						<label>
							Enter your date of birth*:
							<input class="input-shadow bg-white appearance-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500" type="date" name="dob" required pattern="\d{4}-\d{2}-\d{2}" required>
							<span class="validity"></span>
						</label>
					</div>
				</div>
		
				<div class="md:flex md:items-center mb-6">
				  <label class="block">
					<input class="mr-2 leading-tight" type="checkbox">
					<span class="text-sm"><strong>Yes - </strong> I want to opt-in and retain my insurance.</span>
				  </label>
				</div>
				<div class="md:flex md:items-center mb-6">
					<button class="cta-blue-dark block w-full m-3">Button</button>
					<button class="cta-blue-light block w-full m-3">Button</button>
				</div>
			</form>
			<p class="pt-3 pb-12 text-xs">
			This form collects your personal information. Read our Privacy Policy and Personal Information Collection Statement for details on how we collect and disclose personal information or call us on 1300 361 784 for a copy.
			</p>
		</div>
		<div class="w-full lg:w-1/2 lg:pl-5">

			<!-- Message Green -->
			<div class="py-4 lg:px-4">
				<div class="fadeup bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
					<span class="flex rounded bg-green-200 uppercase text-xl font-bold mr-3 px-4 py-3">
						<i class="fa-solid fa-check"></i>
					</span>
					<span class="mr-2 text-left flex-auto text-sm pr-5">Your message has been sent. We will get back to you soon</span>
				</div>
			</div>

			<!-- Message yellow -->
			<div class="py-4 lg:px-4">
				<div class="fadeup bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
					<span class="flex rounded bg-yellow-200 uppercase text-xl font-bold mr-3 px-5 py-3">
						<i class="fa-solid fa-exclamation"></i>
					</span>
					<span class="mr-2 text-left flex-auto text-sm pr-5">Something's not quite right. Please check the form and try again.</span>
				</div>
			</div>

			<!-- error red -->
			<div class="py-4 lg:px-4">
				<div class="fadeup bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
				<span class="flex rounded bg-red-500 text-red-700 uppercase text-lg font-bold mr-3 px-4 py-3">
					<i class="fa-solid fa-x"></i>
				</span>
				  <span class="mr-2 text-left flex-auto text-sm pr-5">Your message has been sent. We will get back to you soon</span>
				</div>
			</div>

		</div>
		
	</div>



	</div>
</div>


  <div class="bg-brand-green">
	<div class="container mx-auto lg:px-24 px-5 py-12">
		<div class="mx-auto lg:w-full text-white">
		<h2 class="lg:text-5xl text-3xl font-heavy">We’re here to help</h2>
		<p class="pt-5 text-xl pb-3">
			If you have any questions or would like to discuss your options further, we can help get your super sorted.
		</p>
		<div class="flex flex-wrap text-center">
			<div class="w-full lg:w-1/2">
				<a href="tel:1800 640 886" class="cta-pink block m-3 relative">1800 640 886 <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
				<p class="lg:pb-0 pb-5">Monday to Friday 8am-8pm (AEST/AEDT)</p>
			</div>
			<div class="w-full lg:w-1/2">
				<a href="mailto:enquiries@mediasuper.com.au" class="cta-pink block m-3 relative">enquiries@mediasuper.com.au <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
			</div>
		</div>
	</div>
	</div>
	
</div>

<footer class="w-full flex items-center justify-center bg-brand-gray">
	<div class="md:w-2/3 w-full px-4 flex flex-col">
		<div class="flex flex-col">
			<div class="flex mt-24 mb-12 flex-row justify-between text-brand-gray">
				
				<div class="">
					<a target="_blank" href="https://www.mediasuper.com.au/">
						<img src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/389fd4a6b33911bdbe3212c5c46fe5a7bfc0cf8626dc3dcb28130c5d04ae8ef1.png" alt="Media Super logo" style="width: 130px;">
					</a>
				</div>

				<a target="_blank" class="hidden md:block cursor-pointer hover:text-blue-600 uppercase pt-5" href="https://www.mediasuper.com.au/about-us">
					About
				</a>
				<a target="_blank" class="hidden md:block cursor-pointer hover:text-blue-600 uppercase pt-5" href="https://www.mediasuper.com.au/fund-details">
					Fund details
				</a>
				<a target="_blank" class="hidden md:block cursor-pointer hover:text-blue-600 uppercase pt-5" href="https://www.mediasuper.com.au/contact-us">
					Contact
				</a>

				<div class="flex flex-row space-x-8 items-center justify-between text-lg text-brand-gray">
					<a target="_blank" href="http://instagram.com/Media_Super">
						<i class="fa-brands fa-instagram"></i>                          
					</a>
					<a target="_blank" href="https://www.facebook.com/MediaSuper">
						<i class="fab fa-facebook-f"></i>                           
					</a>
					<a target="_blank" href="https://twitter.com/MediaSuper">
						<i class="fab fa-twitter"></i>   
					</a>
					<a href="https://www.linkedin.com/company/2008122">
						<i class="fab fa-linkedin-in"></i>                            
					</a>
				</div>
			</div>
			<hr class="border-gray-600"/>
			<p class="w-full text-center my-12 text-gray-600">©Media Super <span id="year"></span>. All rights reserved.</p>
		</div>
	</div>
</footer>

<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

</body>
</html>