body {
  overflow-x: hidden;
}
/* form */
.cognito h3 {
  font-size: 19px !important;
}

[data-field="Main"] {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin-bottom: 29px !important;
  padding: 10px 26px 26px 26px;
  border: solid #e0e0e0 1px;
  border-radius: 6px;
  width: 50% !important;
}


[data-field="Output"] .c-content {
  background-color: #fbfbfb;
  color: #3F51B5;
  padding: 2px 10px;
  font-size: 10px;
  font-family: monospace;
  font-weight: lighter;
  border: 1px #ececec solid;
}
.cognito .c-forms-form .c-repeating-section-group .c-repeating-section-container {
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin-bottom: 10px !important;
  padding: 26px 26px 40px 26px;
  width: 100%;
}

.c-repeating-section-add button {
  background-color: #22292f !important;
  border-color: transparent !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  outline: solid 1px #e0e0e0;
  width: 99.9%;
  position: relative;
  top: -48px;
}

.c-repeating-section-item-title {
  position: absolute !important;
}
.c-repeating-section-item-title h4 {
  font-size: 9px !important;
color: #c1c1c1 !important;
margin-top: -9px !important;
text-transform: uppercase;
}

/*tool tips */
[data-field="Content"] .c-helptext p {
      position: relative;
      top: -53px;
      left: 64px;
    }
    [data-field="Source"] .c-helptext p {
      position: relative;
      top: -53px;
      left: 58px;
    }
    [data-field="Medium"] .c-helptext p {
      position: relative;
      top: -53px;
      left: 67px;
    }
    [data-field="Audience"] .c-helptext p {
      position: relative;
      top: -53px;
      left: 65px;
    }

.c-helptext a {
  position: relative;
  display: inline-block;
  background: #dadada;
  border-radius: 90px;
  padding: 3px 7px;
  color: #949494 !important;
  text-decoration: none !important;
  width: 20px;
  height: 20px;
  font-weight: bold !important;
  z-index: 1;
}
.c-helptext a[title]:hover:after {
  background: #000000ad;
  content: attr(title);
  color: white;
  position: absolute;
  top: -100%;
  left: 19px;
  width: 200px;
  padding: 10px 10px;
  font-size: 9px;
  border-radius: 8px;
}


    [data-field="Output"] {
      margin-top: -26px !important;
    }

    .c-repeating-section-container {
      border-radius: 6px;
    }
