body {
  overflow-x: hidden;
}
/* form */
.cognito h3 {
  font-size: 19px !important;
}

[data-field="Main"] {
  background-color: white;
  margin-bottom: 29px !important;
}

[data-field="Output"] .c-content {
  background-color: #fffbd9;
  padding: 2px 10px;
  font-size: 9px;
  border: 1px #FFEB3B solid;
  font-weight: bold;
}
.cognito .c-forms-form .c-repeating-section-group .c-repeating-section-container {
  background-color: white !important;
  margin-bottom: 10px !important;
}

.c-repeating-section-add button {
  background-color: #3F51B5 !important;
  border-color: transparent !important;
  width: 99%;
  padding: 13px 10px!important;
  margin-top: -9px !important;
}

.c-repeating-section-item-title {
  position: absolute !important;
}
.c-repeating-section-item-title h4 {
  font-size: 9px !important;
color: #c1c1c1 !important;
margin-top: -9px !important;
text-transform: uppercase;
}

/*tool tips */
[data-field="Audience"] .c-helptext p {
  position: relative;
  top: -53px;
  left: 63px;
}
[data-field="Source"] .c-helptext p {
  position: relative;
  bottom: 172px;
  left: 55px;
}
[data-field="Medium"] .c-helptext p {
  position: relative;
  bottom: 172px;
  left: 67px;
}
[data-field="Utmcontent"] .c-helptext p {
  position: relative;
  top: -52px;
  left: 97px;
}
.c-helptext a {
  position: relative;
  display: inline-block;
  background: #dadada;
  border-radius: 90px;
  padding: 3px 7px;
  color: #949494 !important;
  text-decoration: none !important;
  width: 20px;
  height: 20px;
  font-weight: bold !important;
  z-index: 1;
}
.c-helptext a[title]:hover:after {
background: #000000ad;
content: attr(title);
color: white;
position: absolute;
top: -100%;
left: 19px;
width: 200px;
padding: 10px 10px;
font-size: 9px;
border-radius: 8px;
}
