
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Gallery filter Vue JS</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.7.4/tailwind.min.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.2/css/all.css'>

</head>

<body>

  <div id="items">
  
  <form class="bg-black p-5 text-center">
    <input type="text" class="p-2 bg-grey-darker w-1/4" placeholder="Search" v-model="search_filter" @keyup="updatePaginate">
    <button class="text-white py-2 rounded px-10 font-bold bg-grey-darkest hover:bg-teal-dark" @click.prevent="setStatus('')">All</button>
    <button class="text-white py-2 rounded px-10 font-bold bg-grey-darkest hover:bg-teal-dark" @click.prevent="setStatus('template')">Templates</button>
    <button class="text-white py-2 rounded px-10 font-bold bg-grey-darkest hover:bg-teal-dark" @click.prevent="setStatus('marketing')">Newsletter/Marketing</button>
    <button class="text-white py-2 rounded px-10 font-bold bg-grey-darkest hover:bg-teal-dark" @click.prevent="setStatus('event')">Event</button>
    <button class="text-white py-2 rounded px-10 font-bold bg-grey-darkest hover:bg-teal-dark" @click.prevent="setStatus('kinetic')">Kinetic</button>
  </form>
  
    <div class="flex flex-wrap lg:mx-32">
                <a target="_blank" :href="item.url" class="lg:w-1/4 md:w-1/2 w-full p-5 text-black hover:text-grey-dark no-underline"
                    v-for="item in items | filterBy search_filter in 'name' | filterBy status_filter in 'group'" 
                    v-show="setPaginate($index)">

                    <img class="border-2" :src="item.pic">

                    <div class="mt-1">
                      <h3 class="text-sm uppercase font-nromal">
                           {{ item.name }}
                      </h3>
                  </div>
                </a>
     </div>
  
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>

  

    <script src="js/vue-main.js"></script>




</body>

</html>
