<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Thank you</title>
    <link rel="stylesheet"
        href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/5dc299fa6c740bd027c78c9c1c649a93.css">
        <script>
            console.log('version 24')
        </script>
         <script>
          var digitalData = digitalData || {};
          digitalData = {"page":{"pageInfo":{"pageName":"ACM: DM SPC Thankyou","brand":"Cbus"},"category":{}}}
          digitalData.page.pageInfo.pageUrl = window.location.href;
          digitalData.page.pageInfo.domain = window.location.hostname;
    </script>
    <script type="text/javascript" src="//assets.adobedtm.com/launch-ENd8db634a912b4764b21552a1fca7014a.min.js" async></script>
    </head>

<body style="" class="">
<div class="app-container">
<div class="image-container">
<div class="banner-bg" style="background-image: url('https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/2c3e2289dbc924510be9b1b37a2c2010.jpg');"></div>
<div class="header-container">
<h1>Thank-you</h1>
</div>
</div>
<div class="padding-block"></div>
<div class="content-container">
<div class="info-container">
<h2 class="blue-highlight header">We have recorded your election to <span style="text-decoration: underline;">opt-out</span> of Cbus to providing your information for our Super Payment Checker application at:</h2>
<p class="subtitle"><span class="grey-highlight"><%= ctx.vars.timeConsentGiven %></span> (AEST) on <span class="grey-highlight"><%= formatDate(ctx.vars.dateConsentGiven, "%Al %D %Bl %4Y") %></span> <span class="grey-highlight"><%= ctx.vars.mannerElection %></span>.</p>
</div>
</div>
<div class="contact-container contact-container--small">
  <div class="contact__content">
    <p class="contact__header">We&rsquo;re here to help.</p>
    <p class="contact__subtitle">If you have any questions or would like to discuss your options further, we can help get your super sorted.</p>
    <div class="contact__method"><img class="nlui-widget contact__image" src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/1a254af4f81c59cb96d4213b1615588d.png" unselectable="on" />
      <p class="contact__text">Call <strong>02 8607 8742</strong> Mon to Fri from 9am to 5pm AEDT/AEST</p>
    </div>
    <div class="contact__method"><img class="nlui-widget contact__image" src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/2ca56699b7c1ab62f227da5b6a40310f.png" border="0" unselectable="on" />
      <p class="contact__text">Drop us a line at: <strong>supercontributionsconsent@cbussuper.com.au</strong></p>
    </div>
    <div class="contact__method"><img class="nlui-widget contact__image" src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/49053d7d82289323fe419ca9513bdc2f.png" border="0" unselectable="on" />
      <p class="contact__text">Visit <a class="link" href="https://www.cbussuper.com.au">cbussuper.com.au</a></p>
    </div>
  </div>
</div>

<footer>
  <div class="footer-layout">
  <div class="width-constraint"><img class="nlui-widget full-width" alt="Cbus awards" src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/464eef34c120c3d3649686a9e550dd20.png" unselectable="on" /></div>
  <p>Cbus&rsquo; Trustee: United Super Pty Ltd ABN 46 006 261 623 AFSL 233792 Cbus ABN 75 493 363 262.</p>
  <p>This information is about Cbus. It doesn&rsquo;t take into account your specific needs, so you should look at your own financial position, objectives and requirements before making any financial decisions. Read the relevant Cbus Product Disclosure Statement and related documents to decide whether Cbus is right for you.</p>
  <p>Contact us on <strong>1300 361 784</strong> or visit <a style="color: #545454;" href="https://www.cbussuper.com.au">www.cbussuper.com.au</a> for a copy.</p>
  </div>
  </footer>


</div>
</body>

</html>