<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>RolledIn_Under50s</TITLE>
<META charset="utf-8">
</HEAD>
<BODY>
<%@ include view='MirrorPage' %>
<TABLE style="BORDER-COLLAPSE: collapse" cellSpacing=0 cellPadding=0 width=650 
border=0>
  <TBODY>
  <TR>
    <TD width=650><IMG style="DISPLAY: block" 
      src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/8335072a4408725898cea3b4cfcc155b.png" 
      width=650> </TD></TR></TBODY></TABLE>
<TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #005dab" 
cellSpacing=0 cellPadding=0 width=650 border=0>
  <TBODY>
  <TR>
    <TD width=100>&nbsp;</TD>
    <TD align=right>
      <P 
      style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; FONT-WEIGHT: bold; COLOR: white">Member 
      number: <%= recipient.mbrAccID       %></P></TD>
    <TD width=100>&nbsp;</TD></TR>
  <TR>
    <TD width=100>&nbsp;</TD>
    <TD>
      <P 
      style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; MARGIN-TOP: 0px; COLOR: white">Hi 
      <%= recipient.firstName %> 
      <P 
      style="FONT-SIZE: 24px; FONT-FAMILY: calibri,arial,sans-serif; MARGIN-TOP: 0px; FONT-WEIGHT: bold; COLOR: white">Congratulations 
      and thank you for your first year as a Cbus member! </P>
      <P 
      style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; MARGIN-TOP: 0px; COLOR: #cdd1eb; MARGIN-RIGHT: 15px">Did 
      you know it’s been a year since you joined Cbus? We really value our 
      members and want to make sure your money is working as hard as you do. But 
      could your super be working even harder for you? </P>
      <P 
      style="FONT-SIZE: 15px; MARGIN-BOTTOM: 40px; FONT-FAMILY: calibri,arial,sans-serif; MARGIN-TOP: 0px; COLOR: #cdd1eb">Keep 
      reading to find out how you could retire with more.</P></TD>
    <TD width=100>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f0f0f0" 
cellSpacing=0 cellPadding=0 width=650 border=0>
  <TBODY>
  <TR>
    <TD 
    style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px" 
    vAlign=top width=50 ;><IMG 
      style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px" 
      src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/d6cfbefa93490f09d9fec16000dc9852.png" 
      width=50 height=200></TD>
    <TD vAlign=top>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR style="BACKGROUND-COLOR: white">
          <TD width=50>&nbsp;</TD>
          <TD width=450>
            <P 
            style="FONT-SIZE: 24px; FONT-FAMILY: calibri,arial,sans-serif; FONT-WEIGHT: bold; COLOR: #005dab">&nbsp;</P>
            <P 
            style="FONT-SIZE: 24px; FONT-FAMILY: calibri,arial,sans-serif; FONT-WEIGHT: bold; COLOR: #005dab">It’s 
            easy to round up all <BR>your super and save </P>
            <P 
            style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; COLOR: #616161">If 
            you have multiple super accounts, with super savings all over the 
            place, you could really benefit from bringing all your accounts 
            together in one place, with Cbus. The benefits are clear: </P>
            <P 
            style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; COLOR: #616161">&nbsp;</P></TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR>
          <TD width=50>&nbsp;</TD>
          <TD vAlign=top><IMG 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/dbf679905c453c62e83474103e24a1e5.png" 
            width=170></TD>
          <TD vAlign=top>
            <P 
            style="FONT-SIZE: 17px; FONT-FAMILY: calibri,arial; FONT-WEIGHT: bold; COLOR: #72b84f; PADDING-LEFT: 30px">Save 
            money on fees. </P>
            <P 
            style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; COLOR: #616161; PADDING-LEFT: 30px">One 
            super fund means you only pay <BR>one set of fees, potentially 
            saving <BR>you hundreds and even thousands of dollars over the 
            years.</P></TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR>
          <TD width=50>&nbsp;</TD>
          <TD>
            <HR style="HEIGHT: 1px; COLOR: #f0f0f0">
          </TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR>
          <TD width=50>&nbsp;</TD>
          <TD vAlign=top width=250>
            <P 
            style="FONT-SIZE: 17px; FONT-FAMILY: calibri,arial; FONT-WEIGHT: bold; COLOR: #72b84f">Easier 
            to manage. </P>
            <P 
            style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; COLOR: #616161; PADDING-RIGHT: 10px">One 
            fund is easier to keep track <BR>of, meaning you can focus on 
            <BR>your investment strategy for<BR>the future.</P></TD>
          <TD><IMG style="MARGIN-BOTTOM: 20px; MARGIN-TOP: 20px" 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/42c899ae687d0b32a2e609c4a5e0e279.png" 
            width=200></TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR>
          <TD width=50>&nbsp;</TD>
          <TD>
            <HR style="HEIGHT: 1px; COLOR: #f0f0f0">
          </TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR>
          <TD width=50>&nbsp;</TD>
          <TD vAlign=top><IMG 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/ccfa17201fe23609c07cddf980717cda.png" 
            width=170></TD>
          <TD vAlign=top>
            <P 
            style="FONT-SIZE: 17px; FONT-FAMILY: calibri,arial; FONT-WEIGHT: bold; COLOR: #72b84f; PADDING-LEFT: 30px">Reduce 
            paperwork.</P>
            <P 
            style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; COLOR: #616161; PADDING-LEFT: 30px">Nobody 
            likes dealing with more paperwork than they need to.<BR>Having only 
            one fund means <BR>only one set of paperwork.</P>
            <P 
            style="FONT-SIZE: 11px; FONT-FAMILY: calibri,arial; COLOR: #616161; PADDING-LEFT: 30px">Please 
            note, there are some important things to consider before you combine 
            your super. Visit: <a style="TEXT-DECORATION: none; COLOR: #616161" href="https://www.cbussuper.com.au/super/consolidate-or-find-my-super?utm_medium=edm&utm_source=adobe_campaign&utm_campaign=mem-ret-fyob&utm_content=rollover">https://www.cbussuper.com.au/super/consolidate-or-find-my-super</A> 
            </P></TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE 
      style="MARGIN-TOP: 0px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR>
          <TD width=50>&nbsp;</TD>
          <TD style="PADDING-BOTTOM: 20px">
            <HR style="HEIGHT: 1px; COLOR: #f0f0f0">
          </TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE></TD>
    <TD 
    style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px" 
    vAlign=top width=50 ;><IMG 
      style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px" 
      src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/d6cfbefa93490f09d9fec16000dc9852.png" 
      width=50 height=200></TD></TR></TBODY></TABLE>
<TABLE 
style="MARGIN-TOP: -12px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #00843d" 
cellSpacing=0 cellPadding=0 width=650 border=0>
  <TBODY>
  <TR>
    <TD width=50>&nbsp;</TD>
    <TD bgColor=white width=550>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 border=0>
        <TBODY>
        <TR>
          <TD width=50>&nbsp;</TD>
          <TD>
            <P 
            style="FONT-SIZE: 17px; FONT-FAMILY: calibri,arial; FONT-WEIGHT: bold; COLOR: #72b84f">Find 
            your lost super savings.</P>
            <P 
            style="FONT-SIZE: 15px; FONT-FAMILY: calibri,arial,sans-serif; COLOR: #616161; PADDING-RIGHT: 10px">Have 
            you changed jobs over the years? Like many Australians, you may have 
            funds you don’t know about. Cbus can help you find them in a few 
            easy steps. </P></TD>
          <TD width=200><IMG style="MARGIN-TOP: 40px" 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/22d4b7e3bfe7d00bbe995c9de90caa24.png" 
            width=180></TD>
          <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white" 
      cellSpacing=0 cellPadding=0 width=550 align=center border=0>
        <TBODY>
        <TR align=center>
          <TD>
            <P style="MARGIN-BOTTOM: 40px; MARGIN-TOP: 40px"><a href="https://www.cbussuper.com.au/super/consolidate-or-find-my-super?utm_medium=edm&utm_source=adobe_campaign&utm_campaign=mem-ret-fyob&utm_content=rollover" target=""><IMG border=0 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/71f8c17436ba0060a4eec3c2be70fb6a.jpg"></A></A><a href="https://www.cbussuper.com.au/super/consolidate-or-find-my-super?utm_medium=edm&utm_source=adobe_campaign&utm_campaign=mem-ret-fyob&utm_content=rollover"></P></A></TD></TR></TBODY></TABLE></TD>
    <TD width=50>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE style="BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #00843d" 
cellSpacing=0 cellPadding=0 width=650 border=0>
  <TBODY>
  <TR>
    <TD bgColor=#00843d width=80>&nbsp;</TD>
    <TD width=550>
      <P 
      style="FONT-SIZE: 24px; FONT-FAMILY: calibri,arial,sans-serif; MARGIN-TOP: 40px; FONT-WEIGHT: bold; COLOR: white">Need 
      help? Just ask Cbus</P>
      <TABLE>
        <TBODY>
        <TR>
          <TD width=50><IMG 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/1a254af4f81c59cb96d4213b1615588d.png"> 
          </TD>
          <TD 
            style="FONT-FAMILY: calibri,arial,sans-serif; COLOR: #f0f0f0">Call 
            us on <A 
            style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #f0f0f0" 
            href="tel:1300361784">1300 361 784</A> and select option 
            4,<BR>Monday to Friday from 8am to 8pm AEST/AEDT<BR></TD></TR>
        <TR>
          <TD><IMG border=0 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/2ca56699b7c1ab62f227da5b6a40310f.png"></TD>
          <TD 
          style="FONT-FAMILY: calibri,arial,sans-serif; COLOR: #f0f0f0; PADDING-BOTTOM: 20px; PADDING-TOP: 20px">Email 
            us at <A 
            style="TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #f0f0f0" 
            href="mailto:cbusenq@cbussuper.com.au">advice@cbussuper.com.au</A></TD></TR>
        <TR>
          <TD><IMG border=0 
            src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/49053d7d82289323fe419ca9513bdc2f.png"></TD>
          <TD 
            style="FONT-FAMILY: calibri,arial,sans-serif; COLOR: #f0f0f0">Visit 
            us online at <a style="TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #f0f0f0" href="https://www.cbussuper.com.au">cbussuper.com.au</A></TD></TR></TBODY></TABLE>
      <P style="PADDING-BOTTOM: 30px">&nbsp;</P></TD>
    <TD bgColor=#00843d width=50>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE style="BORDER-COLLAPSE: collapse" cellSpacing=0 cellPadding=0 
  width=650><TBODY>
  <TR style="BACKGROUND-COLOR: #f0f0f0">
    <TD style="BACKGROUND-COLOR: #f0f0f0" width=70>&nbsp;</TD>
    <TD 
    style="FONT-SIZE: 11px; FONT-FAMILY: Calibri,ariel,sans-serif; COLOR: #545454; PADDING-BOTTOM: 27px; PADDING-TOP: 27px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px"><IMG 
      alt="Cbus awards" 
      src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/c8243226cc59bd4713daf0c2bec60603.jpg" 
      width=496> 
      <P>SuperRatings does note issue, sell, guarantee or underwrite this 
      product. Visit <a style="TEXT-DECORATION: none; COLOR: #545454" href="https://www.superratings.com.au">www.superratings.com.au</A> for 
      details of its ratings criteria. Source: Chant West Pty Ltd (<a style="TEXT-DECORATION: none; COLOR: #545454" href="https://www.chatwest.com.au">www.chatwest.com.au</A>).</P>
      <P>Cbus’ Trustee: United Super Pty Ltd ABN 46 006 261 623 AFSL 233792 Cbus 
      ABN 75 493 363 262. 
      <br/><br/>
      This information is about Cbus. It doesn’t take into account your specific needs, so you should look at your own financial position, objectives and requirements before making any financial decisions. 
      Read the relevant <a class="hover" target="_blank" style="color: #666666; font-weight: bold;" 
      href="https://www.cbussuper.com.au/tools-resources/forms-and-publications">Cbus Product Disclosure Statement</a> and <a class="hover" target="_blank" style="color: #666666; font-weight: bold;" 
      href="https://www.cbussuper.com.au/target-market-determinations">Target Market Determination</a> to decide whether Cbus is right for you. 
      Contact <span style="color: #666666; font-weight: bold">1300 361 784</span> or visit <a class="hover" target="_blank" style="color: #666666;font-size: 11px;font-weight: bold;line-height: 19px;" href="https://www.cbussuper.com.au">
        cbussuper.com.au</a> for a copy.
    </P>
      <P><%@ include view='UnsubClickHere'       %></P>
      <P><%@ include view='social' %></P></TD>
    <TD style="BACKGROUND-COLOR: #f0f0f0" 
width=50>&nbsp;</TD></TR></TBODY></TABLE></BODY></HTML>
