<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Templates</title>
  <link href="images/favion.png" rel="icon" type="image/x-icon" />

  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://kit-pro.fontawesome.com/releases/v5.13.1/css/pro.min.css'>
	<link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/tailwind.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LF495ZKW9K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LF495ZKW9K');
    </script>

</head>

	<body>
		<div id="nav">
			<header>
				<div class="bg-black mx-auto text-white px-5 text-center">
				  <div class="flex py-2">
					<div class="flex-1">
					  <h1 class="font-bold text-2xl">Index</h1>
					</div>
				  </div>
				</div>
			  </header>
		</div>


    <div class="container mx-auto pt-10 px-10">
      <h4 id="landing-pages" class="pt-5 pb-5 text-2xl">EDMS</h4>

      <div class="lg:flex">
        <div class="lg:w-1/2 mb-10 lg:mr-8">
            <div class="flex items-center mb-5">
              <img class="" src="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/cbus-logo.svg" width="40" height="40" alt="Cbus logo">
            </div>

          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Templates</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/edm.html">
              <div class="w-1/3">SIS</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Member</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Employers</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Letter</div>
            </a>
          </div>
          <!-- end: Group -->

          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Abandon Cart</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/tec/abandon-cart/index.html">
              <div class="w-1/3">Email</div>
            </a>
          </div>
          <!-- end: Group -->

        </div> 


        <div class="lg:w-1/2 mb-10">
          <div class="flex items-center mb-2">
            <img class="" src="https://www.superguide.com.au/wp-content/uploads/2021/06/Media-Super-updated-200x113.jpg" width="80" height="80" alt="logo">
        </div>
         <!-- Group -->
         <div class="group border">
          <span class="flex block p-2 bg-gray-100">
            <div class="w-1/3 font-medium">Templates</div>
          </span>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/media-super-template.html">
            <div class="w-1/3">Retirement</div>
          </a>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/opt-in.html">
            <div class="w-1/3">Super</div>
          </a>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/tec/pys-media/index.html">
            <div class="w-1/3">Insurance</div>
          </a>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/media-investments/index.html">
            <div class="w-1/3">Investments</div>
          </a>
        </div>
        <div class="cursor-pointer group border border-t-0 text-gray-300">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
            <div class="w-1/3">General</div>
          </a>
        </div>
        <div class="cursor-pointer group border border-t-0 text-gray-300">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
            <div class="w-1/3">Employers</div>
          </a>
        </div>
        <!-- end: Group -->

        <!-- Group -->
        <div class="group border">
          <span class="flex block p-2 bg-gray-100">
            <div class="w-1/3 font-medium">PYS</div>
          </span>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/tec/pys-media/index.html">
            <div class="w-1/3">Email</div>
          </a>
        </div>
        <!-- end: Group -->
        <!-- Group -->
        <div class="group border">
          <span class="flex block p-2 bg-gray-100">
            <div class="w-1/3 font-medium">Supermatch</div>
          </span>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/opt-in.html">
            <div class="w-1/3">Opt-In</div>
          </a>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/call-us.html">
            <div class="w-1/3">Call us</div>
          </a>
        </div>
        <div class="cursor-pointer group border">
          <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/message__expect-a-call.html">
            <div class="w-1/3">Expect a call</div>
          </a>
        </div>
        <!-- end: Group -->
          
        </div>
      </div>

      <hr class="border-gray-400">

      
      <h4 id="landing-pages" class="pt-5 pb-5 text-2xl">Landing pages (DEV)</h4>

      <div class="lg:flex">
        <div class="lg:w-1/2 mb-10 lg:mr-8">
          <div class="flex items-center mb-5">
              <img class="" src="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/cbus-logo.svg" width="40" height="40" alt="Cbus logo">
        </div>

          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Template</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/template/cbus.html">
              <div class="w-1/3">Base Template</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Campaign: PYS</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/edm.html">
              <div class="w-1/3">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/dm.html">
              <div class="w-1/3">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/error.html">
              <div class="w-1/3">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/thankyou.html">
              <div class="w-1/3">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Campaign: PMIF</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif/dm.html">
              <div class="w-1/3">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif/error.html">
              <div class="w-1/3">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif/thankyou.html">
              <div class="w-1/3">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Campaign: Supermatch</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch/form.html">
              <div class="w-1/3">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch/confirm.html">
              <div class="w-1/3">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Email Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe/index.html">
              <div class="w-1/3">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe/pref.html">
              <div class="w-1/3">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe/confirm.html">
              <div class="w-1/3">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Video Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Campaign: SPC</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/edm.html">
              <div class="w-1/3">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/dm.html">
              <div class="w-1/3">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/error.html">
              <div class="w-1/3">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/thankyou.html">
              <div class="w-1/3">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->

        </div>

        <div class="lg:w-1/2 mb-10">
          <div class="flex items-center mb-2">
            <img class="" src="https://www.superguide.com.au/wp-content/uploads/2021/06/Media-Super-updated-200x113.jpg" width="80" height="80" alt="logo">
        </div>
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Template</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/template/media.html">
              <div class="w-1/3">Base Template</div>
            </a>
          </div>
          <!-- end: Group -->
        <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Campaign: PYS</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/edm.html">
              <div class="w-1/3">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/dm.html">
              <div class="w-1/3">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/error.html">
              <div class="w-1/3">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/thankyou.html">
              <div class="w-1/3">Thank You Page</div>
            </a>
          </div>
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Campaign: PMIF</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif-media/dm.html">
              <div class="w-1/3">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif-media/error.html">
              <div class="w-1/3">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif-media/thankyou.html">
              <div class="w-1/3">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Campaign: Supermatch</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch-media/form.html">
              <div class="w-1/3">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch-media/confirm.html">
              <div class="w-1/3">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Email Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe-media/index.html">
              <div class="w-1/3">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe-media/pref.html">
              <div class="w-1/3">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe-media/confirm.html">
              <div class="w-1/3">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class="w-1/3 font-medium">Video Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class="w-1/3">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->

          
        </div>
      </div>
      

      
    </div>


	</body>

</body>

</html>
