<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Templates</title>
  <link href="images/favion.png" rel="icon" type="image/x-icon" />

  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://kit-pro.fontawesome.com/releases/v5.13.1/css/pro.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.7.4/tailwind.min.css'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LF495ZKW9K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LF495ZKW9K');
    </script>

</head>

	<body>
		<div id="nav">
			<header>
				<div class="bg-black mx-auto text-white px-5 text-center">
				  <div class="flex py-2">
					<div class="flex-1">
					  <h1 class="font-bold text-2xl">Index</h1>
					</div>
				  </div>
				</div>
			  </header>
		</div>


    <div class="container mx-auto pt-24 px-10">
      <h4 class="pb-5">Emails</h4>

      <div class="flex flex-wrap border-b pb-10">
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Media Super</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black hover:text-grey-darker" href="media-super-template.html">Template - Retirement</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/2022/member-retention/supermatch/media/opt-in.html">Template - Super</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black hover:text-grey-darker" href="/emails/2022/tec/pys-media/index.html">Template - Insurance</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black hover:text-grey-darker" href="/emails/templates/2022/media-investments/index.html">Template - Investments</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="#">Template - General</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="#">Template - Employers</a></li>
          </ul>
          <p class="pt-4">PYS</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black hover:text-grey-darker" href="/emails/2022/tec/pys-media/index.html">PYS</a></li>
          </ul>
          <p class="pt-4">Supermatch</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/2022/member-retention/supermatch/media/opt-in.html">Opt-In</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/2022/member-retention/supermatch/media/call-us.html">Call us</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/2022/member-retention/supermatch/media/message__expect-a-call.html">Expect a call</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus</p>
          <ul class="">
            <li class="py-2"><a target="_blank" class="font-bold text-black hover:text-grey-darker" href="/emails/templates/2022/cbus-sis/index.html">Template - SIS</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black hover:text-grey-darker" href="/emails/2022/tec/abandon-cart/index.html">Abandon Cart</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="#">Template - Member</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="#">Template - Employers</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="#">Template - Letter</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="#">Template - Statements</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="#">Template - Events</a></li>
          </ul>
        </div>
      </div>

      <h4 id="landing-pages" class="pt-5 pb-5">Landing pages</h4>

      <div class="flex flex-wrap pb-10">
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Media Super</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/template/media.html">Template Base</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/template/cbus.html">Template Base</a></li>
          </ul>
        </div>
      </div>

      <div class="flex flex-wrap pb-10">
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Media Super - PYS</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys-media/edm.html">PYS EDM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys-media/dm.html">PYS DM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys-media/error.html">PYS Error</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys-media/thankyou.html">PYS Thank You</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus - PYS</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys/edm.html">PYS EDM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys/dm.html">PYS DM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys/error.html">PYS Error</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pys/thankyou.html">PYS Thank You</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Media Super Email Unsubscribe</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/unsubscribe-media/index.html">Unsubscribe</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/unsubscribe-media/pref.html">Preference centre</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/unsubscribe-media/confirm.html">Confirmation</a></li>
          </ul>
        </div>
      </div>

      <div class="flex flex-wrap pb-10">
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Media Super - PMIF</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pmif-media/dm.html">PMIF DM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pmif-media/error.html">PMIF Error</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pmif-media/thankyou.html">PMIF Thank You</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus - PMIF</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pmif/dm.html">PMIF DM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pmif/error.html">PMIF Error</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/pmif/thankyou.html">PMIF Thank You</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus Email Unsubscribe</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/unsubscribe/index.html">Unsubscribe</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/unsubscribe/pref.html">Preference centre</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/unsubscribe/confirm.html">Confirmation</a></li>
          </ul>
        </div>
      </div>

      <div class="flex flex-wrap pb-10">
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus - SPC</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/spc/dm.html">SPC EDM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/spc/edm.html">SPC DM Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/spc/error.html">SPC Error</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/spc/thankyou.html">SPC Thank You</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Media Super Video Unsubscribe</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="/emails/landing-pages/2022/unsubscribe-video/index.html">Unsubscribe</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="/emails/landing-pages/2022/unsubscribe-video/confirm.html">Confirmation</a></li>
          </ul>
        </div>
      </div>

      <div class="flex flex-wrap pb-10">
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Media Super - Supermatch</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/supermatch-media/form.html">Supermatch callback Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/supermatch-media/confirm.html">Supermatch callback Confirmation</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus - Supermatch</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/supermatch/form.html">Supermatch callback Form</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-black" href="/emails/landing-pages/2022/supermatch/confirm.html">Supermatch callback Confirmation</a></li>
          </ul>
        </div>
        <div class="lg:w-1/3 w-full">
          <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Cbus Video Unsubscribe</p>
          <ul class="pb-5">
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="/emails/landing-pages/2022/unsubscribe-video/index.html">Unsubscribe</a></li>
            <li class="py-2"><a target="_blank" class="font-bold text-grey-dark" href="/emails/landing-pages/2022/unsubscribe-video/confirm.html">Confirmation</a></li>
          </ul>
        </div>
      </div>
      
    </div>


	</body>

</body>

</html>
