<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Templates</title>
  <link href="images/favion.png" rel="icon" type="image/x-icon" />

  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://kit-pro.fontawesome.com/releases/v5.13.1/css/pro.min.css'>
	<link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/tailwind.css" rel="stylesheet">
  <link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/main.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LF495ZKW9K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LF495ZKW9K');
    </script>


</head>

	<body>
		<div id="nav">
			<header>
				<div class="bg-black mx-auto text-white px-5 text-center">
				  <div class="flex py-2">
					<div class="flex-1">
					  <h1 class="font-bold text-2xl">Index</h1>
					</div>
				  </div>
				</div>
			  </header>
		</div>


    <div class="container mx-auto pt-10 px-10">
      <h4 id="landing-pages" class="pt-5 pb-5 text-2xl font-semibold">EDMS</h4>
      <hr class="border-gray-400 pb-8">

      <section>
        <div class="lg:flex">
          <div class="lg:w-1/2 mb-10 lg:mr-8">
              <div class="flex items-center mb-5">
                <img class="" src="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/cbus-logo.svg" width="40" height="40" alt="Cbus logo">
              </div>

            <!-- Group -->
            <div class="group border">
              <span class="flex block p-2 bg-gray-100">
                <div class=" font-medium">Templates</div>
              </span>
            </div>
            <div class="cursor-pointer group border">
              <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/cbus-sis/index.html">
                <div class=""><input type="checkbox" class="form-checkbox mr-2"> Retirement (SIS)</div>
              </a>
            </div>
            <div class="cursor-pointer group border border-t-0">
              <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/cbus-member/index.html">
                <div class=""><input type="checkbox" class="form-checkbox mr-2">Member</div>
              </a>
            </div>
            <div class="cursor-pointer group border border-t-0 text-gray-300">
              <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
                <div class=""><input type="checkbox" class="form-checkbox mr-2">Employers</div>
              </a>
            </div>
            <div class="cursor-pointer group border border-t-0">
              <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/cbus-letter/index.html">
                <div class=""><input type="checkbox" class="form-checkbox mr-2">Letter</div>
              </a>
            </div>
            <div class="cursor-pointer group border border-t-0 text-gray-300">
              <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
                <div class=""><input type="checkbox" class="form-checkbox mr-2">Event</div>
              </a>
            </div>
            <!-- end: Group -->

            <!-- Group -->
            <div class="group border">
              <span class="flex block p-2 bg-gray-100">
                <div class=" font-medium">Abandon Cart</div>
              </span>
            </div>
            <div class="cursor-pointer group border">
              <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/tec/abandon-cart/index.html">
                <div class=""><input type="checkbox" class="form-checkbox mr-2">Email</div>
              </a>
            </div>
            <!-- end: Group -->

          </div> 


          <div class="lg:w-1/2 mb-10">
            <div class="flex items-center mb-2">
              <img class="" src="https://www.superguide.com.au/wp-content/uploads/2021/06/Media-Super-updated-200x113.jpg" width="80" height="80" alt="logo">
          </div>
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Templates</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/media-super-template.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Retirement</div>
            </a>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/opt-in.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Super</div>
            </a>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/tec/pys-media/index.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Insurance</div>
            </a>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/media-investments/index.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Investments</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/media-genral/index.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">General</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/templates/2022/media-employers/index.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Employers</div>
            </a>
          </div>
          <!-- end: Group -->

          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">PYS</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/tec/pys-media/index.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Email</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Supermatch</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/opt-in.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Opt-In</div>
            </a>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/call-us.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Call us</div>
            </a>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/2022/member-retention/supermatch/media/message__expect-a-call.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Expect a call</div>
            </a>
          </div>
          <!-- end: Group -->
            
          </div>
        </div>
      </section>

      <h4 id="landing-pages" class="pt-5 pb-5 text-2xl font-semibold">Landing pages</h4>
      <hr class="border-gray-400 pb-3">
      <p class="pb-5">HTML pages built for Adobe Campaign.</p>
      <h4 class="pb-3 text-xl font-semibold">Status</h4>
      <hr class="border-gray-400 pb-3">
      <div class="mb-8">
        <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">
          Using DEV resources.
        </span>
      </div>

    <section>
      <div class="lg:flex">
        <div class="lg:w-1/2 mb-10 lg:mr-8">
          <div class="flex items-center mb-5">
              <img class="" src="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/cbus-logo.svg" width="40" height="40" alt="Cbus logo">
        </div>

          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Template</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/template/cbus.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Base Template</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Campaign: PYS</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/edm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/dm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/error.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys/thankyou.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Campaign: PMIF</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif/dm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif/error.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif/thankyou.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Campaign: Supermatch</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch/form.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch/confirm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Email Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe/index.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe/pref.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe/confirm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Video Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Campaign: SPC</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/edm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/dm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/error.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/spc/thankyou.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
            <!-- Group -->
            <div class="group border">
              <span class="flex block p-2 bg-gray-100">
                <div class=" font-medium">Events</div>
              </span>
            </div>
            <div class="cursor-pointer group border border-t-0 text-gray-300">
              <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
                <div class=""><input type="checkbox" class="form-checkbox mr-2">SIS sessions</div>
              </a>
            </div>
            <!-- end: Group -->

        </div>

        <div class="lg:w-1/2 mb-10">
          <div class="flex items-center mb-2">
            <img class="" src="https://www.superguide.com.au/wp-content/uploads/2021/06/Media-Super-updated-200x113.jpg" width="80" height="80" alt="logo">
        </div>
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Template</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/template/media.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Base Template</div>
            </a>
          </div>
          <!-- end: Group -->
        <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Campaign: PYS</div>
            </span>
          </div>
          <div class="cursor-pointer group border">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/edm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/dm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/error.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pys-media/thankyou.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Thank You Page</div>
            </a>
          </div>
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Campaign: PMIF</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif-media/dm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">DM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif-media/error.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Error Page</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/pmif-media/thankyou.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Campaign: Supermatch</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch-media/form.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">EDM Form</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/supermatch-media/confirm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Thank You Page</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Email Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe-media/index.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe-media/pref.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="/emails/landing-pages/2022/unsubscribe-media/confirm.html">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->
          <!-- Group -->
          <div class="group border">
            <span class="flex block p-2 bg-gray-100">
              <div class=" font-medium">Video Unsubscribe</div>
            </span>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Unsubscribe</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Preference centre</div>
            </a>
          </div>
          <div class="cursor-pointer group border border-t-0 text-gray-300">
            <a target="_blank" class="flex block p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100" href="#">
              <div class=""><input type="checkbox" class="form-checkbox mr-2">Confirmation</div>
            </a>
          </div>
          <!-- end: Group -->

          
        </div>
      </div>
    </section>
      

      
    </div>


	</body>

</body>

</html>
