<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Superannuation insurance</title>
  <link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/55e79d51b6e47132a76167d75c5e8fd9d48ecc49ec789a31ca84e51c2fe6bbbb.png" rel="icon" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Start: ADOBE SCRIPTS -->
	<script>function reloadPage() {window.location = window.location.href}</script>
	<script>
		  var digitalData = digitalData || {};
		  digitalData = {"page":{"pageInfo":{"pageName":"ACM: DM PYS Insurance Error","brand":"MediaSuper"},"category":{}}}
		  digitalData.page.pageInfo.pageUrl = window.location.href;
		  digitalData.page.pageInfo.domain = window.location.hostname;
	</script>
	<!-- Dev Media super -->
	<script type="text/javascript" src="//assets.adobedtm.com/b8f44b6ccd00/987dddf6d251/launch-50352b2fd1e7-development.min.js"></script>  
<!-- End: ADOBE SCRIPTS -->
	
  <!-- media super -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/sdy0sxg.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic|Roboto+Condensed:400,700,400italic,700italic" rel="stylesheet">
  <!-- global -->	
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/tailwind.css" rel="stylesheet">
  <link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/main.css" rel="stylesheet">
</head>
<body class="media-super lg:px-10">
	
	<div class="bg-no-repeat bg-cover bg-top h-banner" style="background-image: 
	url('https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/header-insurance.jpg')">
	<div class="flex content-center lg:pt-0 flex-wrap h-banner">
		<div class="container mx-auto px-10 lg:px-0">
			<div class="fadeup w-full text-white lg:px-24">
				<h1 class="text-brand-blue-light font-heading lg:text-5xl text-4xl leading-none uppercase">
					My insurance options
				</h1>
			</div>
		</div>
	</div>
</div>

  <div id="form" class="bg-white">
	<div class="container mx-auto lg:px-24 px-5">
		<div class="text-brand-black pb-10">
			<h2 class="lg:text-5xl text-3xl font-medium pt-12">Keep your insurance</h2>
		</div>
		<div class="flex flex-wrap">
			<div class="w-full lg:w-1/2">
				<p class="fadeup pb-20">
                    <% if (ctx.vars.dobMismatchError == 1) { %> The DOB provided did not match our records <%}%> <% if (ctx.vars.firstTimeError == 1) { %> There was an error registering your election <%}%> <% if (ctx.vars.genericError == 1) { %> There was an error registering your election <%}%>
                    <br/>
                    <% if (ctx.vars.dobMismatchError == 1) { %> <% if (ctx.vars.lockout == 0) { %> You have <%= ctx.vars.attemptsRemaining %> attempt<% if (ctx.vars.attemptsRemaining == 2) { %>s<% } %> remaining.
                    <br/>
                    Retry <%} %> <% if (ctx.vars.lockout == 1) { %> Please contact us for more information. <%} %> <%}%> <% if (ctx.vars.firstTimeError == 1) { %> Please contact us for more information. <%}%> <% if (ctx.vars.genericError == 1) { %> Please contact us for more information. <%}%>
                </p>
			</div>
			<div class="w-full lg:w-1/2 lg:pl-10 pb-24">
			<!-- Message yellow -->
			<div class="fadeup py-4 lg:px-4">
				<div class="bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
					<span class="flex rounded bg-yellow-200 uppercase text-xl font-bold mr-3 px-5 py-3">
						<i class="fa-solid fa-exclamation"></i>
					</span>
					<span class="mr-2 text-left flex-auto text-sm pr-24">Something's not quite right.</span>
				</div>
			</div>
			</div>
			
		</div>
	  </div>
  </div>

  <!-- Contact -->
 <div class="bg-purple">
	<div class="container mx-auto lg:px-24 px-5 py-12">
		<div class="mx-auto lg:w-full text-white">
		<h2 class="text-3xl font-semibold">We’re here to help</h2>
		<p class="pt-5 text-xl pb-3">
			If you have any questions or would like to discuss your options further, we can help get your super sorted.
		</p>
		<div class="flex flex-wrap text-center">
			<div class="w-full lg:w-1/2">
				<a href="tel:1800 640 886" class="cta-yellow block m-3 relative">1800 640 886 <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
				<p class="lg:pb-0 pb-5">Available 8.00am to 8.00pm (AEST/AEDT) weekdays.</p>
			</div>
			<div class="w-full lg:w-1/2">
				<a href="mailto:enq@mediasuper.com.au" class="cta-yellow block m-3 relative">enq@mediasuper.com.au <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
			</div>
		</div>
	</div>
	</div>
</div>

<footer class="w-full flex items-center justify-center bg-brand-gray py-16">
	<div class="w-full lg:px-24 px-10 flex flex-col">
		<div class="flex flex-col">
			<div class="flex mb-12 flex-row justify-between text-brand-gray">
				
				<div class="">
					<a target="_blank" href="https://www.mediasuper.com.au/">
						<img src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/7ce92bc4056a9f197b73c63f8a92b0de5005a369e691ebe156f634def35e3037.png" alt="Media Super logo" style="width: 130px;">
					</a>
				</div>

				<a target="_blank" class="hidden md:block cursor-pointer hover:text-blue-600 pt-2" href="https://www.mediasuper.com.au/about-us">
					About Us
				</a>
				<a target="_blank" class="hidden md:block cursor-pointer hover:text-blue-600 pt-2" href="https://www.mediasuper.com.au/retirement/retirement-planning/retirement-advice-and-resources">
					Advice Services
				</a>
				<a target="_blank" class="hidden md:block cursor-pointer hover:text-blue-600 pt-2" href="https://www.mediasuper.com.au/tools-resources/seminars">
					Seminars & webinars
				</a>
				<a target="_blank" class="hidden md:block cursor-pointer hover:text-blue-600 pt-2" href="https://www.mediasuper.com.au/contact-us">
					Contact
				</a>
			</div>
			<hr class="border-gray-400 pb-8"/>

			<div class="flex flex-wrap pb-5">
				<div class="lg:w-1/2">
					<p class="w-full text-gray-600 text-sm pb-4">©Media Super <span id="year"></span>. All rights reserved.</p>
				</div>
				<div class="lg:w-1/2">
					<div class="flex flex-row space-x-8 items-center justify-end text-lg text-brand-gray">
						<a target="_blank" href="http://instagram.com/Media_Super">
							<i class="fa-brands fa-instagram"></i>                          
						</a>
						<a target="_blank" href="https://www.facebook.com/MediaSuper">
							<i class="fab fa-facebook-f"></i>                           
						</a>
						<a target="_blank" href="https://twitter.com/MediaSuper">
							<i class="fab fa-twitter"></i>   
						</a>
						<a href="https://www.linkedin.com/company/2008122">
							<i class="fab fa-linkedin-in"></i>                            
						</a>
					</div>
				</div>
			</div>

			<!-- terms -->
			<hr class="border-gray-400 pt-8"/>
			<div class="flex">
				<p class="w-full text-gray-500 text-xs">
					ASIC Money Smart can also provide information about the benefits and risks of insurance as well as the broader impacts of paying for more death and disability insurance cover than you might need. Visit the <a class="underline" id="a157377485367633" href="https://www.moneysmart.gov.au/superannuation-and-retirement/how-super-works/insurance-through-super" target="_blank" data-nl-type="externalLink">MoneySmart</a> website for more information.
				</p>
			</div>


		</div>
	</div>
</footer>
<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

</body>
</html>