<div class="menu z-100">
    <div class="menu-inner">
        <div class="bg-gray-900 h-screen py-8 font-bold">
            <nav class="mt-10">
              <a href="/" class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                    <i class="fas fa-house"></i>
                    <span class="mx-4">Home</span>
                </a>
                <a class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
                    href="/pages/gallery/">
                    <i class="fas fa-images"></i>
                    <span class="mx-4">Email Gallery</span>
                </a>
                <a class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
                    href="/pages/dashboard/">
                <i class="fas fa-table"></i>
                    <span class="mx-4">Dashboard</span>
                </a>
                <a class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
                    href="/pages/team-report/">
                    <i class="fas fa-list-ol"></i>
                    <span class="mx-4">Team Report</span>
                </a>
                <a class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
                    href="/pages/icons/">
                    <i class="fas fa-stamp"></i>
                    <span class="mx-4">Icon Library</span>
                </a>

            </nav>
        </div>
    </div>
</div>