<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Superannuation insurance</title>
  <link rel="shortcut icon" href="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/favicon.ico" type="image/vnd.microsoft.icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <!-- Start: ADOBE SCRIPTS -->
	<script>
		var digitalData = digitalData || {};
		digitalData = {"page":{"pageInfo":{"pageName":"ACM: DM PMIF Thankyou","brand":"Cbus"},"category":{}}}
		digitalData.page.pageInfo.pageUrl = window.location.href;
		digitalData.page.pageInfo.domain = window.location.hostname;
  </script>
	<!-- Dev Cbus -->
	<script type="text/javascript" src="//assets.adobedtm.com/launch-ENc106691bb5db4ed1b31e0d95f8849685-development.min.js" async></script>
<!-- End: ADOBE SCRIPTS -->

	<link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/zgy2nvk.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
	<link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/tailwind.css" rel="stylesheet">
	<link href="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/main.css" rel="stylesheet">
</head>
<body>
	
<!-- DM Cbus Umbrella Insurance : Edited 2022 FEB-->	
<div class="bg-no-repeat bg-cover bg-top lg:h-banner h-48" style="background-image: 
	url('https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/684acbc69dc4b5f6cb98160ea3dd99b447869a5c88ec9bb5bbd45fffc6455161.jpg')">
    
	<div class="bg-gradient flex content-center lg:pt-0 flex-wrap lg:h-banner h-48">
		<div class="container mx-auto px-10 lg:px-0">
			<div class="fadeup w-full text-white lg:px-24">
				<p class="-mt-5 font-medium uppercase">Super</p>
				<h1 class="font-heavy mb-8 mark-bold lg:text-6xl text-4xl leading-none">
					Changes to your insurance
				</h1>
			</div>
		</div>
	</div>
	
</div>


<div class="bg-brand-gray">
	<div class="container mx-auto lg:px-24 px-5">
		<div class="mx-auto lg:w-full text-brand-black">
		<h2 class="lg:text-5xl text-3xl font-heavy pt-12">Important message about your insurance</h2>
		<p class="font-light pt-5 text-xl font-bold">
			Your automatic insurance cover may be impacted if you don't act.
		</p>
		<p class="pt-3 pb-12">
			The Government has changed the laws that apply to automatic insurance in super, which is the death and disability cover that most members receive when they join Cbus.
			<br/><br/>
			From 1 April 2020, you generally won’t be eligible for automatic cover until your account balance reaches $6,000 and you are 25 years of age – unless you make this election or are covered under the dangerous occupation exemption which applies to Industry Manual Workers.
		</p>
	</div>
	</div>
</div>

  <div id="form" class="bg-white">
	<div class="container mx-auto lg:px-24 px-5">
		<div class="text-brand-black pb-10">
			<h2 class="lg:text-5xl text-3xl font-heavy pt-12">Keep your Cbus insurance</h2>
		</div>
		<div class="flex flex-wrap">
			<div class="w-full lg:w-1/2">
				<p class="fadeup ">
                    We have recorded your election <% if (ctx.vars.consent == "No") { %>not<% } %> to retain your insurance with Cbus at:
                    <br/>
                    <%= ctx.vars.timeConsentGiven %> AEST on <%= formatDate(ctx.vars.dateConsentGiven, "%Al %D %Bl %4Y") %> <%= ctx.vars.mannerElection %>.
                </p>
			</div>
			<div class="w-full lg:w-1/2 lg:pl-10 pb-24">
			<!-- Message Green -->
			<div class="py-4 lg:px-4">
				<div class="fadeup bg-brand-gray border border-gray-200 items-center leading-none lg:rounded flex lg:inline-flex" role="alert">
					<span class="flex rounded bg-green-200 uppercase text-xl font-bold mr-3 px-4 py-3">
						<i class="fa-solid fa-check"></i>
					</span>
					<span class="mr-2 text-left flex-auto text-sm pr-24">Your recorded has been sent.</span>
				</div>
			</div>
			</div>
			
		</div>
	  </div>
  </div>

  <div class="bg-brand-gray">
	<div class="container mx-auto lg:px-24 px-5 py-12">
		<div class="mx-auto lg:w-full text-brand-black">
		<h2 class="lg:text-5xl text-3xl font-heavy">We’re here to help</h2>
		<p class="font-light pt-5 text-xl font-bold pb-3">
			If you have any questions or would like to discuss your options further, we can help get your super sorted.
		</p>
		<div class="flex flex-wrap text-center">
			<div class="w-full lg:w-1/2">
				<a href="tel:1300 361 784" class="cta-light block m-3 relative font-bold">1300 361 784 <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
				<p class="text-brand-gray lg:pb-0 pb-5">Mon to Fri from 8am to 8pm AEDT/AEST</p>
			</div>
			<div class="w-full lg:w-1/2">
				<a href="mailto:cbusenq@cbussuper.com.au" class="cta-light block m-3 relative font-bold">cbusenq@cbussuper.com.au <i class="fa-solid fa-angle-right text-sm absolute right-0 pr-5"></i></a>
			</div>
		</div>
	</div>
	</div>
	
</div>

<footer class="bg-brand-black">
	<div class="container mx-auto">
		<div class="w-full  bg-brand-black font-heavy text-white">
			<div class="w-full lg:px-24 px-10 pb-14 flex flex-col">
	
				<div class="flex pt-20 pb-12">
					<div class="lg:w-1/5">
						<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.cbussuper.com.au/about-us/who-we-are">
							About
						</a>
					</div>
					<div class="lg:w-1/5">
						<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.cbussuper.com.au/tools-resources/advice-services">
							Advice Services
						</a>
					</div>
					<div class="lg:w-1/5">
						<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.comms.cbussuper.com.au/scripts/cbus/seminars/#upsem">
							All webinars
						</a>
					</div>
					<div class="lg:w-1/5">
						<a target="_blank" class="hidden md:block cursor-pointer text-white hover:text-white" href="https://www.cbussuper.com.au/support/contact">
							Contact
						</a>
					</div>
					<div class="lg:w-1/5">
						<div class="flex flex-row space-x-8 items-center justify-end text-lg text-white">
							<a target="_blank" href="https://www.facebook.com/cbussuperfund">
								<i class="fab fa-facebook-f"></i>                           
							</a>
							<a target="_blank" href="https://twitter.com/cbussuperfund">
								<i class="fab fa-twitter"></i>   
							</a>
							<a href="https://www.linkedin.com/company/cbus-super-fund">
								<i class="fab fa-linkedin-in"></i>                            
							</a>
						</div>
					</div>
				</div>
	
					<hr class="border-gray-300"/>
		
					<div class="flex flex-wrap">
						<div class="lg:w-1/5 w-1/2 w-full pt-10">
							<a target="_blank" href="https://www.cbussuper.com.au/">
								<img class="mt-6 hover:opacity-75"  src="https://www.cbussuper.com.au/content/dam/cbus/images/icons-and-logos/Cbus-ISA-Footer-Logo-2017.png" alt="Cbus Super logo" style="width: 130px;">
							</a>
						</div>
						<div class="lg:w-1/5 w-1/2 pt-10">
							<p class="font-heavy">Awards</p>
							<img class="h-16" style="margin-left: -4px;" src="https://res.marketing.cbussuper.com.au/res/cbus_mkt_prod1/48cd175c527f8d40f8996ecc7b7519e799ce9b9457f86e3d8d6c8d99bb70761c.gif" />
						</div>
						<div class="lg:w-1/5 w-1/2 pt-10">
							<p class="font-heavy">Get the Cbus app</p>
							<div class="flex">
								<a target="_blank" class="p-1 hover:opacity-75" href="https://itunes.apple.com/au/developer/cbus-super-fund/id915194834">
									<img src="https://www.cbussuper.com.au/content/dam/cbus/images/app/appstore-apple-xs.png" alt="Apple Appstore">
								</a>
								<a target="_blank" class="p-1 hover:opacity-75" href="https://play.google.com/store/apps/developer?id=Cbus%20Super%20Fund&amp;hl=en">
									<img src="https://www.cbussuper.com.au/content/dam/cbus/images/app/appstore-google-xs.png" alt="Google Playstore">
								</a>
							</div>
						</div>
					</div>
	
			</div>
		</div>
	</div>
		<div class="bg-white">
			<div class="container mx-auto">
			<div class="w-full lg:px-24 px-10 py-5 flex flex-col text-brand-black">
				<p class="w-full text-gray-500 text-sm">©<span id="year"></span> Cbus Super. All rights reserved. Cbus ABN 75 493 363 262.</p>
				<p class="w-full text-gray-500 text-sm pt-4">
					ASIC Money Smart can also provide information about the benefits and risks of insurance as well as the broader impacts of paying for more death and disability insurance cover than you might need. Visit the <a class="underline" id="a157377485367633" href="https://www.moneysmart.gov.au/superannuation-and-retirement/how-super-works/insurance-through-super" target="_blank" data-nl-type="externalLink">MoneySmart</a> website for more information.
				</p>
			</div>
			</div>
		</div>
</footer>

<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
    $(document).ready(function () {
    // Scoll to
    $('html, body').animate({
        scrollTop: $('#form').offset().top
    }, 'slow');
    });
</script>

</body>
</html>