<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>VUE sort table </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app"> 
  <table>
    <tr>
      <th><b>Group</b></th>
      <th><b>Audience size</b></th>
      <th class="sort_th" @click="sortBy('name')">Name</th>
      <th><b>Date</b></th>
      <th><b>Opens</b></th>
      <th>Click rate</th>
      <th>Unsubscribes</th>
    </tr>
    <tr v-for="datalistData in datalists">
      <td>{{datalistData.group}}</td>
      <td>{{datalistData.send}}</td>
      <!-- <td>
        <dl class="dl" v-for="(val,key) in datalistData.company">
          <dt>{{key}}</dt>
          <dd>: {{val}}</dd>
        </dl>
      </td> -->
    </tr>
  </table>
</div>
<!-- partial -->
  <script src='https://unpkg.com/vue/dist/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
