<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Email Report Dashboard</title>
    <link href="../../images/favion.png" rel="icon" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/v-dashbaord.css" />
    <link
      rel="stylesheet"
      href="https://kit-pro.fontawesome.com/releases/v5.13.1/css/pro.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.7.4/tailwind.min.css"
    />
    <link rel="stylesheet" href="../../css/global.css" />
    <link rel="stylesheet" href="../../css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  </head>

  <body class="bg-gray-200">
    <div id="nav">
      <header>
        <div class="bg-black mx-auto text-white px-5 text-center">
          <div class="flex py-2">
            <div class="flex-1">
              <h1 class="font-bold text-2xl">Email Dashboard FY26</h1>
            </div>
          </div>
        </div>
      </header>

      <nav class="animate-add z-100">
        <div class="nav-overlay"></div>
        <button type="button" class="slide-toggle">
          <div class="menu-wrapper">
            <div class="hamburger-menu"></div>
          </div>
        </button>
        <div id="menu"></div>
      </nav>
    </div>

    <div id="app">
      <div class="flex bg-gray-200 font-roboto">
        <div class="flex-1 flex flex-col">
          <main class="flex-1">
            <div class="px-lg-md md:container mx-auto py-8">
              <div class="flex justify-between m-3 gap-4">
                <a
                  href="../dashboard/last-fy/index.html"
                  class="flex items-center px-4 py-2 bg-black text-white rounded hover:bg-blue-600 transition text-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4 mr-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 19l-7-7 7-7"
                    />
                  </svg>
                  FY25
                </a>

                <a
                  href="data/email-report-fy26.xlsx"
                  download
                  class="px-4 py-2 bg-black text-white rounded hover:bg-blue-600 transition inline-block text-center"
                >
                  Download
                </a>
              </div>

              <!-- ### START: Filter ### -->
              <div class="flex flex-wrap items-center gap-4 my-8">
                <!-- Month Filter -->
                <div class="flex items-center mr-4">
                  <select v-model="monthFilter" id="month" class="rounded">
                    <!-- Only one "All Months" option -->
                    <option
                      v-for="month in monthOptions"
                      :key="month"
                      :value="month"
                    >
                      {{ month }}
                    </option>
                  </select>
                </div>

                <!-- Type Filter Buttons -->
                <div class="flex items-center mr-8 bg-gray-100 rounded-lg p-1">
                  <!-- "All Types" button -->
                  <button
                    @click="selectedTypeFilters = []"
                    :class="[
        'bg-gray-300 px-3 m-1 py-1 rounded transition',
        selectedTypeFilters.length === 0
          ? 'bg-blue-500 text-white'
          : 'bg-gray-200 text-gray-700 hover:bg-gray-400'
      ]"
                  >
                    All Types
                  </button>

                  <!-- Dynamic type buttons -->
                  <button
                    v-for="type in typeOptions"
                    :key="type"
                    @click="toggleTypeFilter(type)"
                    :class="[
        'bg-gray-300 px-3 m-1 py-1 rounded transition',
        selectedTypeFilters.includes(type)
          ? 'bg-blue-500 text-white'
          : 'bg-gray-200 text-gray-700 hover:bg-gray-400'
      ]"
                  >
                    {{ type }}
                  </button>
                </div>

                <!-- Send Type Tabs -->
                <div class="flex items-center gap-2 bg-gray-100 rounded-lg p-1">
                  <button
                    v-for="type in sendTypeOptions"
                    :key="type"
                    @click="sendTypeFilter = type"
                    :class="[
        'bg-gray-300 px-3 m-1 py-1 rounded transition',
        sendTypeFilter === type
          ? 'bg-blue-500 text-white'
          : 'bg-gray-200 text-gray-700 hover:bg-gray-400'
      ]"
                  >
                    {{ type }}
                  </button>
                </div>
              </div>
              <!-- ### END: Filter ### -->

              <!-- Search input -->
              <input
                class="w-full border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                type="search"
                placeholder="Search Campaign Name..."
                v-model="searchTerm"
              />

              <!-- 📊 Table -->
              <div
                id="tooltip"
                class="fixed z-50 bg-gray-800 text-white text-xs rounded px-2 py-1 opacity-0 pointer-events-none transition-opacity"
              ></div>

              <table
                class="t-styles w-full mt-1 bg-white text-sm"
                v-if="filteredAndSorted.length"
              >
                <thead>
                  <tr>
                    <th style="width: 5%">Preview</th>
                    <th
                      @click="sortBy('label')"
                      class="cursor-pointer"
                      style="width: 30%"
                    >
                      Campaign Name {{ sortIndicator('label') }}
                    </th>
                    <th
                      @click="sortBy('day')"
                      class="cursor-pointer"
                      style="width: 7%"
                    >
                      Send Date {{ sortIndicator('day') }}
                    </th>
                    <th
                      @click="sortBy('brand')"
                      class="cursor-pointer"
                      style="width: 7%"
                    >
                      Brand {{ sortIndicator('brand') }}
                    </th>
                    <th
                      @click="sortBy('type')"
                      class="cursor-pointer"
                      style="width: 7%"
                    >
                      Type {{ sortIndicator('type') }}
                    </th>
                    <th
                      @click="sortBy('sendType')"
                      class="cursor-pointer"
                      style="width: 7%"
                    >
                      Send Type {{ sortIndicator('sendType') }}
                    </th>
                    <th
                      @click="sortBy('unique-sends')"
                      class="cursor-pointer"
                      style="width: 7%"
                    >
                      Unique Sends {{ sortIndicator('unique-sends') }}
                      <span
                        class="tooltip-icon cursor-pointer ml-1"
                        @mouseenter="showTooltip($event, `AJO Data Note: In low-volume journeys, unique opens may exceed sends due to tracking or timing issues.`)"
                        @mouseleave="hideTooltip"
                        >ⓘ</span
                      >
                    </th>

                    <th
                      @click="sortBy('unique-opens')"
                      class="cursor-pointer"
                      style="width: 7%"
                    >
                      Unique Opens
                      <span
                        class="tooltip-icon cursor-pointer ml-1"
                        @mouseenter="showTooltip($event, 'Number of unique recipients who opened the email')"
                        @mouseleave="hideTooltip"
                        >ⓘ</span
                      >
                      {{ sortIndicator('unique-opens') }}
                    </th>
                    <th
                      @click="sortBy('unique-clicks')"
                      class="cursor-pointer"
                      style="width: 7%"
                    >
                      Unique Clicks (CTR)
                      <span
                        class="tooltip-icon cursor-pointer ml-1"
                        @mouseenter="showTooltip($event, 'Number of unique recipients who clicked a link / Click-through rate')"
                        @mouseleave="hideTooltip"
                        >ⓘ</span
                      >
                      {{ sortIndicator('unique-clicks') }}
                    </th>
                    <th
                      @click="sortBy('ctor-pc')"
                      class="cursor-pointer"
                      style="width: 5%"
                    >
                      CTOR
                      <span
                        class="tooltip-icon cursor-pointer ml-1"
                        @mouseenter="showTooltip($event, 'Click-to-open rate: clicks ÷ opens')"
                        @mouseleave="hideTooltip"
                        >ⓘ</span
                      >
                      {{ sortIndicator('ctor-pc') }}
                    </th>
                    <th
                      @click="sortBy('unsub')"
                      class="cursor-pointer"
                      style="width: 5%"
                    >
                      Unsub {{ sortIndicator('unsub') }}
                    </th>
                    <th
                      @click="sortBy('engagementScore')"
                      class="cursor-pointer"
                      style="width: 5%"
                    >
                      Engagement Score
                      <span
                        class="tooltip-icon cursor-pointer ml-1"
                        @mouseenter="showTooltip($event, `Score %: Open Rate % + Click Rate % − 2 × Unsub Rate %
    
[Traffic Light Logic:
🟢 80+
🟡 50–79
🔴 -50]`)"
                        @mouseleave="hideTooltip"
                        >ⓘ</span
                      >
                      {{ sortIndicator('engagementScore') }}
                    </th>

                    <th
                      @click="sortBy('read-over-8s')"
                      class="cursor-pointer"
                      style="width: 5%"
                    >
                      Read 8s+ {{ sortIndicator('read-over-8s') }}
                    </th>
                    <th
                      @click="sortBy('read-under-8s')"
                      class="cursor-pointer"
                      style="width: 5%"
                    >
                      Read -8s {{ sortIndicator('read-under-8s') }}
                    </th>
                    <th
                      @click="sortBy('read-under-2s')"
                      class="cursor-pointer"
                      style="width: 5%"
                    >
                      Read -2s {{ sortIndicator('read-under-2s') }}
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item, index) in filteredAndSorted" :key="index">
                    <td style="width: 5%">
                      <a
                        :href="'../../pages/gallery/#' + item['img-id']"
                        target="_blank"
                        class="block rounded shadow bg-cover"
                        :style="{
            backgroundImage: 'url(../../pages/gallery/images/' + item['img-id'] + '.jpg)',
            height: '86px',
            width: '86px',
            backgroundPosition: 'top'
          }"
                      >
                        <span class="sr-only">Preview of {{ item.label }}</span>
                      </a>
                    </td>
                    <td style="width: 30%">{{ item.label }}</td>
                    <td style="width: 7%">{{ item.day }}</td>
                    <td style="width: 7%">{{ item.brand }}</td>
                    <td style="width: 7%">{{ item.type }}</td>
                    <td style="width: 7%">{{ item.sendType }}</td>
                    <td style="width: 7%">
                      {{ formatNumber(item['unique-sends']) }}
                    </td>
                    <td style="width: 7%">
                      <p class="text-lg">
                        {{ formatNumber(item['unique-opens']) }}
                      </p>
                      <p class="text-gray-500">
                        {{ formatPercentage(item['unique-opens-pc']) }}
                      </p>
                    </td>
                    <td style="width: 7%">
                      <p class="text-lg">
                        {{ formatNumber(item['unique-clicks']) }}
                      </p>
                      <p class="text-gray-500">
                        {{ formatPercentage(item['unique-clicks-pc']) }}
                      </p>
                    </td>
                    <td style="width: 5%">
                      {{ formatPercentage(item['ctor-pc']) }}
                    </td>
                    <td style="width: 5%">
                      <p class="text-lg">{{ formatNumber(item['unsub']) }}</p>
                      <p class="text-gray-500">
                        {{ formatPercentage(item['unsub-pc']) }}
                      </p>
                    </td>
                    <td style="width: 5%">
                      <span
                        :class="getTrafficLight(item.engagementScore) + ' px-2 py-1 rounded text-white font-semibold'"
                      >
                        {{ item.engagementScore.toFixed(1) }}%
                      </span>
                    </td>
                    <td style="width: 5%">
                      {{ formatNumber(item['read-over-8s']) }}
                    </td>
                    <td style="width: 5%">
                      {{ formatNumber(item['read-under-8s']) }}
                    </td>
                    <td style="width: 5%">
                      {{ formatNumber(item['read-under-2s']) }}
                    </td>
                  </tr>
                </tbody>

                <tfoot>
                  <tr>
                    <td
                      colspan="6"
                      class="text-right font-semibold"
                      style="width: 73%"
                    >
                      Totals / Averages:
                    </td>
                    <td style="width: 7%">
                      {{ formatNumber(totals.uniqueSends) }}
                    </td>
                    <td style="width: 7%">
                      {{ formatPercentage(totals.openAvg) }}
                    </td>
                    <td style="width: 7%">
                      {{ formatPercentage(totals.clickAvg) }}
                    </td>
                    <td style="width: 5%">
                      {{ formatPercentage(totals.ctorAvg) }}
                    </td>
                    <td style="width: 5%">
                      {{ formatPercentage(totals.unsubAvg) }}
                    </td>
                    <td style="width: 5%">
                      {{ totals.engagementAvg ? totals.engagementAvg.toFixed(1)
                      + '%' : '0.0%' }}
                    </td>
                    <td style="width: 5%">
                      {{ formatNumber(totals.readOver8s) }}
                    </td>
                    <td style="width: 5%">
                      {{ formatNumber(totals.readUnder8s) }}
                    </td>
                    <td style="width: 5%">
                      {{ formatNumber(totals.readUnder2s) }}
                    </td>
                  </tr>
                </tfoot>
              </table>

              <p v-if="!lists.length" class="loading">
                Loading data, please wait...
              </p>
              <p
                v-if="lists.length && !filteredAndSorted.length"
                class="loading"
              >
                No results found.
              </p>
            </div>
          </main>
        </div>
      </div>
    </div>

    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../../js/filter-group.js"></script>
    <script src="../../../js/global.js"></script>
    <script src="../../../js/vue.min.js"></script>
  </body>
</html>
